html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  font-size: 14px;
  font-family: $roboto-regular;
  position: relative;
}

*, :after, :before {
  @include box-sizing(border-box);
  outline: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal;
}

img[style*="right"] {
  margin: 0 0 10px 20px;
  clear: right;
}

img[style*="left"] {
  margin: 0 20px 10px 0;
  clear: left;
}
